OPENAPI_SERVICES=identityx|http://localhost:8080/swagger/doc.json,univents|http://localhost:8081/swagger/doc.json,payssage|http://localhost:8082/swagger/doc.json,informd|http://localhost:8083/swagger/doc.json