OPENAPI_SERVICES=identityx|http://localhost:8080/docs/openapi.yml,univents|http://localhost:8081/docs/openapi.yml,payssage|http://localhost:8082/docs/openapi.yml,informd|http://localhost:8083/docs/openapi.yml